* {
    outline: 2px solid red;
  }


  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
    list-style-type: none;
  }

.header-content {
    display: flex;
    justify-content: space-evenly
}

#body-images-header {
    text-align: center;
}

.body-images {
    display: flex;
    justify-content: space-evenly;
}

.body-quote-content {
    padding-left:150px;
    padding-right: 150px;
}

#body-quote {
    text-align: center;
}

#body-quote-author {
    text-align: right;
}

.body-sign-up {
    display: flex;
    justify-content: space-between;
}

footer p {
    text-align: center;
}